body {
    font-family: 'Ubuntu', sans-serif;
    font-size: 150%;
}

ul {
    list-style-type: none;
}

li {
    display: inline-block;
    color: white;
    background-color: red;
    padding: 35px;
    text-align: center;
    position: relative;
}

li.home {
    left: 400px;
} 

li.products {
    left: 500px;
} 

li.about {
    left: 600px;
} 

li.contact {
    left: 700px;
} 

nav {
    background-color: black;
    padding: 20px;
    position: absolute;
    width: 100%;
    top: 0px;
    left: 0px;
}

main {
    top: -8px;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    width: 40%;
    background-color: red;
    top: 154px;
    left: 30%;
}

img {
    top: 186px;
}

#timecube {
    width: 15%;
    left: 8%;
}

#reptoid {
    width: 15%;
    right: 8%;
}

/* positions */

.fixed-position {
    position: fixed;
}

.absolute-position {
    position: absolute;
}

.relative-position {
    position: relative;
}