main {
    width: 960px;
    margin: 0px auto;
    background-color: lightskyblue;
}

.fullcard {
    width: 45%
}

.fullcard:first-child{
    float: left;
}

.fullcard:nth-child(2){
    float: right;
}

.fullcard img {
    width: 100%
}

.clearfix {
    clear: both;
}

.halfcard {
    width: 30%
}

.halfcard:first-child{
    float: left;
    margin-right: 5%
}

.halfcard:nth-child(2){
    float: left;
}

.halfcard:last-child{
    float: right;
}

.halfcard img{
    width: 100%;
}

.quartercard h1{
    float: right;
}

.quartercard p{
    height: 30%;
    width: 50%;
    overflow: auto;
}