@charset "UTF-8";
/* Adding all things for font and text */
@import url("typography.css");
/* Adding all things for page layout*/
@import url("layout.css");
@import url('https://fonts.googleapis.com/css?family=Architects+Daughter');
body {
 font-family: Arial, 'Gill Sans', 'Gill Sans MT', 'Myriad Pro', 'DejaVu Sans Condensed', Helvetica, 'sans-serif';
	color: black;
	font-size: 16px;
	background-color: #beffff;
}
