
body {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
}
#logo {
    display: flex;
    justify-content: center;
}

nav {
    width: 760px;
    margin: auto;
}

ul {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    list-style-type: none;
    padding: 0;
}

#content {
    width: 760px;
    margin: auto;
}

.home-picture {
    display: flex;
    justify-content: center;
}

.home-text {
    display: flex;
    flex-flow: row wrap;
    align-content: center;
    background-color: aquamarine;
    text-align: center;
    padding: 20px 40px;
}

@media (max-width: 600px){
    ul{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}