@charset "utf-8";
/* CSS Document */
img {
	max-width: 100%;
	height: auto;
}
#wrapper {
	width: 90%;
	max-width: 1209px;
	background-color: #E5FFFF;
	margin-left: auto;
	margin-right: auto; /*this will center*/
}
/*header content*/
#logo {
	width: 150px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
}
nav {
	font-family: 'Architects Daughter', cursive;
	width: 666px;
	margin-left: auto;
	margin-right: auto;
}
.about-picture {
	width: 35%;
	float: left;
}
.about-text {
	width: 62%;
	margin-left: 1%;
	float: left;
	padding: 1%
}
.featured-items {
	margin-bottom: 10px;
	height: 395px;
}
.featured-items:last-child {
	margin-bottom: 0px;
	height: 445px;
}
.product {
	max-width: 100%;
	width: 32%;
	height: auto;
	margin-right: 1.9%;
	float: left;
}
.product:last-child {
	max-width: 100%;
	height: auto;
	margin-right: 0px;
	float: right;
}